<div class="position-relative">
  <div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('mapa_norte.png') %>)">
    <h1><%= @estado.nome %></h1>
  </div>
    <span><%= pluralize(@estado.ritmos.size, 'ritmos') %></span>
</div>

  <div class="row my-2">
    <% @estado.ritmos.each do |ritmo| %>
      <% ponte = Ponte.find_by(estado: @estado, ritmo: ritmo) %>
      <div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
        <div class="bg-white rounded shadow h-100">
          <%= image_tag("ritmo.PNG", class: "ritmo-img rounded-top") %>
          <div class="p-3 rounded-bottom d-flex flex-column">
            <strong><%= ritmo.nome %> <span class="text-muted font-weight-normal">• <%= ritmo.dificuldade %> <i class="fa fa-volume-up" aria-hidden="true"></i> </span></strong>

            <div class="d-flex align-items-end justify-content-between pt-4">
              <div>
                <i class="fas fa-quote-left mr-2"></i><small class="flex-grow-1"><%= ponte.comment %></small>
              </div>
              <small class="text-right flex-shrink-0"><%= link_to 'delete', ponte_path(ponte), method: :delete, data: { confirm: "Are you sure you want to remove #{ritmo.nome} from your #{@estado.nome} list"}, class: 'text-danger' %></small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "Criar Ritmo", new_estado_ponte_path(@estado[:id]) %>
  <button><%= link_to "Voltar", root_path %></button>
